/* app */
.margins {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* Index */
.main-index {
  background-color: whitesmoke;
}

.wrap-index {
  float: left;
  margin-top: 1.5em;
  margin-right: 0.3em;
  margin-bottom: 0.01em;
}

.first-text-index {
  padding-top: 1.7em;
  padding-bottom: 1em;
}
.second-text-index {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.third-text-index {
  padding-bottom: 0.5em;
  margin: 0px;
}
.row-1-index {
  background-color: lightskyblue;
  margin-top: 0.1em;
}
.row-2-index {
  background-color: lightcyan;
  margin-bottom: 0px;
}

/* Footer */
.main-footer {
  background-color: black;
}
.footer-privacy {
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}
.copyright {
  color: gray;
  padding-left: 4em;
  margin: auto;
  padding-bottom: 2em;
}
.dev-by {
  text-align: right;
  padding-bottom: 2.5em;
}
.dev-by2 {
  color: gray;
}
.edgar {
  color: green;
}

/* About */

.wrap-about {
  float: right;
  margin-top: 1.5em;
}
.first-text-about {
  padding-bottom: 1em;
  padding-top: 1.5em;
}
/* Work */
.wrap-work {
  float: left;
  margin-top: 2em;
}
/* Thank you */
.thank-you-text {
  text-align: center;
}
/* Contact Form */
.main-contact-form-div {
  background-color: lightskyblue;
  margin-top: 0.5em;
}
.get-in-touch {
  padding-top: 0.7em;
  padding-left: 0.5em;
  text-align: center;
}
.form-label {
  padding-left: 0.5em;
}

.form-button {
  margin-left: 0.5em;
  margin-bottom: 1em;
}

/* Page - Contact */
.main-form-div {
  background-color: whitesmoke;
}
